{{#partial "content"}}
<div class="col-md-6">
<h2>Endangered animals:<h2>
{{#if endanger}}
<p>Name:{{endanger.name}}</p>
<p>Health:{{endanger.health}}</p>
<p>Age:{{endanger.age}}</p>
{{else}}
<p>no animal in danger yet</p>
{{/if}}
</div>
<div class="col-md-6">
<h2>Safe animals:</h2>
<p>Name:{{normal.name}}</p>
<p>Health:{{normal.health}}</p>
<p>Age:{{normal.age}}</p>
</div>
<a href="/animal/form"><button type="submit" class="btn btn-success">Another animal</button></a>
{{/partial}}
{{>layout.hbs}}