{{#partial "content"}}
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<table>
<tr>
<th><h3 style="text-align:center;font-family: 'Open Sans Condensed', sans-serif;">Endagered animals:<h3></th>
</tr>
{{#if endanger}}
{{#each endanger}}
<tr>
<td>
Name:{{name}}<br>
Health:{{health}}<br>
Age:{{age}}<br>
</td>
</tr>
{{/each}}
{{/if}}
</table>
</div>
<div class="col-md-6">
<table>
<tr>
<th><h3 style="text-align:center;font-family: 'Open Sans Condensed', sans-serif;">Safe animals:<h3></th>
</tr>
{{#if normal}}
{{#each normal}}
<tr>
<td>
name:{{name}}<br>
Health:{{health}}<br>
Age:{{age}}<br>
</td>
</tr>
{{/each}}
{{/if}}
</table>
</div>
<a href="/animal/form"><button type="submit" class="btn btn-success">Another animal</button></a>
</div>
</div>
{{/partial}}
{{>layout.hbs}}
<style>
table {
width: 600px;
margin-top:20px;
text-align:center;
}
th{
 border-bottom: 1px solid white;
}
td {
 border-bottom: 1px solid white;
 color:white;
 font-family: 'Abel', sans-serif;
 font-size:20px;
}
button{
margin-top:200px;
}
h3{
font-size:40px;
color:white;
}
</style>